.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topDiv {
  display: flex;
  margin: 64px 0 0 0;
  width: 95%;
  align-content: center;
  justify-content: space-between;
  color: #fffbfb;
}

.logoDiv,
.signDiv {
  display: flex;
}

.logoDiv:hover,
.signDiv:hover {
  color: #858b9b;
}

.logoDiv img {
  margin-right: 3px;
}

.signDiv img {
  margin-right: 11px;
}

.welcomeDiv {
  margin-top: 30px;
  width: 95vw;
  padding: 457px 0 52px 77px;
  background-image: url("/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.welcomeInside {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.welcomeTitle {
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #f6f6f7;
}

.description {
  margin: 19px 0;
  color: #f6f6f7;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.builtStep {
  display: flex;
  padding: 66px 22px 81px 22px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.linkDiv {
  display: flex;
}

.linkDiv a {
  margin-right: 20px;
}

.linkDiv a:hover {
  transform: scale(1.05);
}

.builtStep a {
  margin: 1rem 0.5rem;
}

.builtStep a * {
  width: 178px;
  height: 28px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  color: #fffbfb;
}

.card-grid {
  background-size: contain;
  background-repeat: no-repeat;
  height: 225px;
  width: 240px;
}

.card-dex {
  background-image: url("../public/card-dex.png");
  padding: 150px 0 0 44px;
}

.card-token {
  background-image: url("../public/card-token.png");
  padding: 150px 0 0 50px;
}

.card-liquid {
  background-image: url("../public/card-liquid.png");
  padding: 150px 0 0 48px;
}

.card-trading {
  background-image: url("../public/card-trading.png");
  padding: 142px 0 0 54px;
}

.card-grid * {
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #fffbfb;
}

.div-built {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card-built {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  padding-left: 48px;
  justify-content: flex-end;
  height: 470px;
  width: 574px;
  border-radius: 8px;
  background-image: url("../public/bg2.png");
}

.title-built {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  max-width: 325px;
  min-height: 88px;
  color: #fffbfb;
}

.card-built p {
  height: 23px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #fffbfb;
}

.hoverScaled:hover {
  -ms-transform: scaleY(1.25);
  transform: scale(1.02);
  cursor: pointer;
}

.div-inbuilt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px;
}

.rectangle-built {
  /* Rectangle 30 */
  width: 574px;
  height: 130px;

  background: #1e1f23;
  border: 1px solid #3a3c40;
  box-sizing: border-box;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.img-built {
  width: 52px;
  height: 52px;
  margin-left: 43px;
  margin-right: 43px;
}

.text-built {
  max-width: 400px;
}

.subTitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #fffbfb;
}

.subText {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #858b9b;
}

.div-community {
  margin-top: 84px;
  display: flex;
  border-top: 1px solid #3a3c40;
  border-bottom: 1px solid #3a3c40;
}

.div-incom {
  width: 40vw;
}

.title-comm {
  margin-top: 61px;
  max-width: 404px;
  min-height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #fffbfb;
}

.text-comm {
  margin-top: 16px;
  max-width: 447px;
  min-height: 88px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #fffbfb;
}

.div-income {
  height: 254px;
  border-radius: 8px;
}

.div-browse {
  margin-top: 90px;
}

.content-browse {
  padding-top: 199px;
  padding-left: 45px;
  height: 314px;
  width: 85vw;
  background: url(../public/bg4.png);
  background-size: cover;
  border-radius: 8px;
}

.title-browse {
  max-width: 871px;
  height: 21px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 26px;
  /* or 81% */

  color: #fffbfb;
}

.text-browse {
  margin-top: 20px;
  max-width: 759px;
  height: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  color: #fffbfb;
}

.div-search {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
}

.input-search {
  padding-left: 25px;
  width: 288px;
  height: 45px;

  background: #1e1f23;
  border: 1px solid #3a3c40;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #858b9b;
}

.input-search:hover {
  background: #26282e;
}

.btn-search {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 23px;
  height: 45px;
  display: flex;
  align-items: center;
  background: #1e1f23;
  border: 1px solid #3a3c40;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #858b9b;
}

.btn-search img {
  margin-left: 10px;
}

.div-sites {
  display: flex;
  flex-wrap: wrap;
  width: 86vw;
  margin-top: 34px;
}

.card-sites {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background: #1e1f23;
  color: #fffbfb;
}

.hoverEffect:hover {
  -ms-transform: scaleY(1.25);
  transform: scale(1.02);
  background: #26282e;
  cursor: pointer;
}

.card-avatar {
  display: flex;
  justify-content: space-between;
}

.span-badge {
  border-radius: 6px;
  height: fit-content;
  padding: 5px 7px;
  background-color: #000;
  font-size: 14px;
  line-height: 16px;
}

.text-sites {
  margin-top: 15px;
  font-family: "Roboto";
  font-weight: 600;
  width: 170px;
}

.text-sites p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #858b9b;
}

.div-comingsoon {
  margin-top: 77px;
  background-image: url(../public/bg5.png);
  background-size: cover;
  background-repeat: round;
  width: 86vw;
  height: 260px;
  padding-top: 66px;
  padding-left: 74px;
}

.div-comingsoon:hover {
  background-image: url(../public/bg5-transparent.png);
  transform: scale(1.01);
}

.title-comingsoon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 28px;
  color: #fffbfb;
}

.text-comingsoon {
  margin-top: 15px;
  max-width: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #fffbfb;
}

@media screen and (max-width: 760px) {
  .welcomeDiv {
    padding: 200px 20px 10px 20px;
    width: 90vw;
  }

  .welcomeTitle {
    line-height: 50px;
  }

  .builtStep {
    justify-content: center;
  }

  .div-built {
    flex-direction: column;
  }

  .card-built {
    padding-top: 250px;
    width: auto;
  }

  .rectangle-built {
    margin: 20px;
    width: auto;
  }

  .img-built {
    margin: 0 20px;
  }

  .div-incom {
    margin: 10px 0;
    width: auto;
    background: url(../public/bg3.png);
    background-size: cover;
    background-repeat: round;
    border-radius: 10px;
    padding: 5px;
  }

  .div-income {
    display: none;
  }

  .content-browse {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .content-browse div {
    height: auto;
  }

  .div-search * {
    margin: 10px;
  }

  .div-sites {
    justify-content: center;
  }

  .div-comingsoon {
    height: auto;
    padding: 50px 20px;
  }
}
