/* // */
.container {
  padding: 0 2rem;
}

/* // */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeDiv {
  margin-top: 30px;
  width: 95vw;
  padding: 457px 0 52px 77px;
  background-image: url("/bg-home.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 0.5rem;
}

/* // */
.chooseDiv {
  margin-top: 200px;
  margin-bottom: 400px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.welTitle {
  margin: 19px 0;
  max-width: 450px;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #f6f6f7;
}

.description {
  margin: 19px 0;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: lighter;
  line-height: 26px;
  text-align: left;
  color: #f6f6f7;
}

.chooseText {
  max-width: 450px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: lighter;
  line-height: 26px;
  text-align: left;
  color: #f6f6f7;
}

.platformDiv {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.platformDiv a {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 50px;
  color: #f6f6f7;
  font-size: 12px;
}

.platformDiv div {
  margin-top: 10px;
}

@media screen and (max-width: 760px) {
  .welcomeDiv {
    padding: 200px 20px 10px 20px;
    width: 90vw;
  }
}
