/* // */
.container {
  padding: 0 2rem;
}

/* // */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBar {
  display: flex;
  margin: 64px 0 0 0;
  width: 95%;
  align-content: center;
  justify-content: space-between;
  color: #fffbfb;
}
.logoLink,
.signLink {
  display: flex;
}

.logoLink:hover,
.signLink:hover {
  color: #858b9b;
}

.logoLink img {
  margin-right: 3px;
}

.signLink img {
  margin-right: 11px;
}

.welcomeDiv {
  margin-top: 38px;
  margin-right: 173px;
  width: 85vw;
  padding: 470px 0 0 88px;
  background-image: url("/bg-home.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 0.5rem;
}

.welcomeTitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 50px;
  line-height: 26px;
  color: #f6f6f7;
}

.linkDiv {
  margin-top: 15px;
}

.linkDiv a {
  margin-right: 15px;
}

.chooseDiv {
  margin-top: 154px;
  margin-bottom: 610px;
  flex-wrap: wrap;
  display: flex;
  width: 90%;
}

.welTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 26px;
  color: #f6f6f7;
}

.description {
  margin-top: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #f6f6f7;
}

.chooseText {
  margin-top: 10px;
  max-width: 480px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #f6f6f7;
}

.platformDiv {
  padding-top: 15px;
  padding-left: 42px;
  flex-wrap: wrap;
  display: flex;
}

.platformDiv a {
  display: flex;
  flex-direction: column;
  margin-right: 59px;
}

.platformDiv div {
  margin-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #f6f6f7;
}

@media screen and (max-width: 760px) {
  .welcomeDiv {
    margin: auto;
    padding: 200px 20px 0 20px;
  }

  .welcomeTitle {
    line-height: normal;
  }

  .chooseDiv {
    flex-direction: column;
    margin-bottom: 300px;
  }

  .platformDiv {
    justify-content: center;
    padding: 30px;
    width: auto;
  }

  .platformDiv a {
    margin: 20px;
  }
}
